@font-face {
  font-family: 'Apercu';
  font-weight: 900;
  src: local('Apercu'), url(./fonts/Apercu-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Apercu';
  font-weight: 500;
  src: local('Apercu'), url(./fonts/Apercu-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Apercu';
  font-weight: 400;
  src: local('Apercu'), url(./fonts/Apercu-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Apercu';
  font-weight: 200;
  src: local('Apercu'), url(./fonts/Apercu-Light.woff2) format('woff2');
}
